{% extends 'mood_music/base.html' %}

{% block extra_head %}
  <link href="/static/css/webcam.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block extra_script %}
  <script src="/static/js/webcam.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="header center orange-text">HOW ARE YOU?</h2>

    <div class="row center hide-on-large-only">
      <a id="start-camera" class="waves-effect waves-light blue darken-3 btn">Touch here to start the app</a>
    </div>

    <div class="row center">
      <video class="show-on-large responsive-video" id="camera-stream"></video>
      <!-- Hidden image for the screenshot src -->
      <img id="snap" class="hide">
    </div>

    <div class="row center">
      <p id="error-message" class="flow-text hide"></p>
    </div>

    <div class="row center hide" id="controls">
      <div class="col s4">
        <a id="delete-photo" title="Delete Photo" class="btn-floating btn-large waves-effect waves-light red darken-1 disabled"><i class="material-icons">delete</i></a>
      </div>
      <div class="col s4">
        <a id="take-photo" title="Take Photo" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">camera_alt</i></a>
      </div>
      <div class="col s4">
        <a id="upload-photo" title="Let's GO" class="btn-floating btn-large waves-effect waves-light green darken-1 disabled"><i class="material-icons">send</i></a>
      </div>
    </div>

    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas class="hide"></canvas>

    <form action="." method="post" enctype="multipart/form-data" style="display: none">
      {% csrf_token %}
      <a type="submit"><i class="material-icons">send</i></a>
    </form>
    <br>
  </div>
{% endblock %}
